.body {
margin: 0;
padding: 0;
font-family: 'Amatic SC', cursive;
}

.page-footer  {
position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}


.spinner-border m-5 {
display: None;

}

.overflow-auto {
height: 100px;
}

.done {
 align-items: center;

}

.cont_txt {
align-items: center;
justify-content: center;
}

.page-footer {
position: fixed;
  left: 0;
  bottom: 0;
  }