{% extends 'layout.html' %}
{% block content %}
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
<div class="card">
  <h5 class="card-header">Contact me</h5>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">If you wanna report the bugs you've experienced or suggest any improvements feel free to contact me on any of these platforms</p>
    <a href="https://t.me/IKoblyk" class="btn btn-primary"><i class='fa fa-telegram' aria-hidden='true'></i></a>

      <a href="https://twitter.com/IKoblyk" class="btn btn-primary"><i class='fa fa-twitter' aria-hidden='true'></i></a>
      <a href="mailto: ivankob.16@gmail.com"  class="btn btn-primary"><i class='fa fa-google' aria-hidden='true'></i></a>
  </div>
</div>
    </div>
  </div>
</div>
{% endblock %}