{% extends 'layout.html' %}
{% block content %}
<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
 <div class="card-dark">
    <img class="card-img-top" src="static/mono.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Support developer</h5>
      <p class="card-text">This app is uncommercial and will remain as so forever. Howerver,if you want to donate you can do so </p>
      <p class="card-text"><small class="text-muted">Thank You!</small></p>
    </div>
  </div>
    </div>
          <div class="col-sm">
        <h5 class="card-header">Bookhack</h5>
  <div class="card-body">
    <h5 class="card-title">Meet Bookhack</h5>
    <p class="card-text"> This tool automates the process of downloading a book from <a href="https://elib.nlu.org.ua/">elib.nlu.org.ua</a>
    Instead of viewing pages one by one separately or trying to download them manually which is time consuming and boring process
    you can now just paste the link to it and bookhack will do everything for you, so you can enjoy reading the books you love easily.
    </p>
    <a href="https://elib.nlu.org.ua/" class="btn btn-primary">Visit library</a>
  </div>
  </div>
  </div>
</div>
{% endblock %}
